<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/">APP Animes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/animes">Listado de animes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/animes/addAnime">Agregar anime</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/animes/modifyAnime">Modificar anime</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/animes/deleteAnime">Eliminar anime</a>
            </li>
    </div>
</nav>
<div class="container-fluid main-container">
</div>